<?xml version="1.0"?>
<!-- This is setup to compare two lidar streams and output the transform between them -->
<launch>
  <arg name="namespace"                  default="sensor_alignment"/>
  <arg name="sensor_id"                  default="basler_camera_front"/>

  <arg name="fixed_frame"               default=""/>

  <arg name="alignment_file"             default="$(find multi_sensor_alignment)/config/$(arg namespace)/$(arg sensor_id)_joint_state.yaml" />
  <!-- <arg name="alignment_server"           default="/$(arg namespace)/$(arg sensor_id)/align_publisher"/> -->
  <arg name="alignment_server"           default=""/>
     
  <arg name="output_frequency"           default="1.00" />
  <arg name="buffer_size"                default="1" />
       
  <arg name="input_cloud_topic"          default="/lidar/vl_points_0" />
  <arg name="input_image_topic"          default="/vision/basler_camera_front/image_color" />
  <arg name="input_info_topic"           default="/vision/basler_camera_front/camera_info" />
  <arg name="is_rectified"               default="false"/>
  <arg name="output_cloud_topic"         default="/$(arg namespace)/$(arg sensor_id)/points"/>
  <arg name="output_image_topic"         default="/$(arg namespace)/$(arg sensor_id)/image"/>
  <arg name="output_marker_topic"        default="/$(arg namespace)/$(arg sensor_id)/markers"/>
  <arg name="output_transform_topic"     default="/$(arg namespace)/$(arg sensor_id)/transform"/>

  <arg name="grid_cols"                  default="9"/>
  <arg name="grid_rows"                  default="6"/>
  <arg name="square_size_mm"             default="84.4"/>
  <arg name="board_width_mm"             default="914"/>
  <arg name="board_height_mm"            default="610"/>
  <arg name="width_offset_mm"            default="0"/>
  <arg name="height_offset_mm"           default="0"/>

  <!-- Filters -->
  <arg name="filter/i_min"               default="0"/> 
  <arg name="filter/i_max"               default="100"/>
  <arg name="filter/x_min"               default="0"/> 
  <arg name="filter/x_max"               default="4"/> 
  <arg name="filter/y_min"               default="-1"/> 
  <arg name="filter/y_max"               default="2"/> 
  <arg name="filter/z_min"               default="-1"/> 
  <arg name="filter/z_max"               default="+1"/> 

  <arg name="rqt_reconfigure"            default="false"   doc="Start rqt_reconfigure"/>

    
  <node ns="$(arg namespace)/$(arg sensor_id)" name="cb_align_tool" pkg="multi_sensor_alignment" type="cb_align_tool" output="screen">
    <rosparam command="load"                      file="$(arg alignment_file)" unless="$(eval arg('alignment_file') == '')"/>
    
    <param name="parent_frame"                    value="$(arg fixed_frame)" unless="$(eval arg('fixed_frame') == '')"/>
    <param name="child_frame"                     value="$(arg fixed_frame)" unless="$(eval arg('fixed_frame') == '')"/>

    <param name="alignment_server"                value="$(arg alignment_server)" if="$(eval arg('fixed_frame') == '')"/>

    <param name="output_frequency"                value="$(arg output_frequency)"/>
    <param name="buffer_size"                     value="$(arg buffer_size)"/>

    <param name="is_rectified"                      value="$(arg is_rectified)"/>
    <param name="input_cloud_topic"                 value="$(arg input_cloud_topic)"/>
    <param name="input_image_topic"                 value="$(arg input_image_topic)"/>
    <param name="input_info_topic"                  value="$(arg input_info_topic)"/>
    <param name="output_cloud_topic"                value="$(arg output_cloud_topic)"/>
    <param name="output_image_topic"                value="$(arg output_image_topic)"/>
    <param name="output_marker_topic"               value="$(arg output_marker_topic)"/>
    <param name="output_transform_topic"            value="$(arg output_transform_topic)"/>

    <param name="grid_cols"                         value="$(arg grid_cols)"/>
    <param name="grid_rows"                         value="$(arg grid_rows)"/>
    <param name="square_size_mm"                    value="$(arg square_size_mm)"/>
    <param name="board_height_mm"                   value="$(arg board_height_mm)"/>
    <param name="board_width_mm"                   value="$(arg board_width_mm)"/>
    <param name="height_offset_mm"                  value="$(arg height_offset_mm)"/>
    <param name="width_offset_mm"                  value="$(arg width_offset_mm)"/>

    <!-- Filters -->
    <param name="filter/i_min"                    value="$(arg filter/i_min)"/>   
    <param name="filter/i_max"                    value="$(arg filter/i_max)"/>   
    <param name="filter/x_min"                    value="$(arg filter/x_min)"/>   
    <param name="filter/x_max"                    value="$(arg filter/x_max)"/>   
    <param name="filter/y_min"                    value="$(arg filter/y_min)"/>   
    <param name="filter/y_max"                    value="$(arg filter/y_max)"/>   
    <param name="filter/z_min"                    value="$(arg filter/z_min)"/>   
    <param name="filter/z_max"                    value="$(arg filter/z_max)"/>   
  </node>

  <node if="$(arg rqt_reconfigure)" name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>

</launch>
